body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.upper_part {
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
}

.main_text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.below_main_text {
    font-size: 18px;
    padding-bottom: 20px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 650;
}

button {
    color: #e5e7eb;
    background-color: #3882f6;
    width: auto;
    padding: 8px 16px;
    padding-left: 32px;
    padding-right: 32px;
    align-self: flex-start;
    display: flex;
    border-radius: 25px;
}

.link a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.info_header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-bottom: 16px;
}

.some_more_main {
    flex-wrap: wrap;
    max-width: 500px;
}

.quote {
    background-color: #e5e7eb;
    padding-left: 100px;
    padding-right: 100px;
    padding: 100px 100px;
}

.thor {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}

.quote_text {
font-size: 36px;
color: #1f2937;
font-style: italic;
font-weight: 300;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.link {
    display: flex;
    gap: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 100px;
}

img {
    max-width: 300px;
    height: auto;
}

.center img {
    max-width: 250px;
    height: auto;
    border-radius: 20px;
    border: 5px solid #3882f6;
}

.center {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_cont {
    display: flex;
    gap: 16px;
    padding-left: 100px;
    padding-right: 100px;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    padding: 24px 24px;
    justify-content: center;
}

.last {
    padding: 50px 75px 50px 75px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#call {
    font-weight: 700;
    font-size: 30px;
}

#last_button {
    border: 2px solid white;
}

.last_container {
    padding: 100px;
}