body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.upper_part {
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
}

.main_text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.below_main_text {
    font-size: 18px;
    padding-bottom: 20px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 650;
}

button {
    background-color: #3882f6;
    width: auto;
    padding: 8px 16px;
    align-self: flex-start;
    display: flex;
    border-radius: 25px;
}

.link a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.info_header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote_text {
font-size: 36px;
color: #1f2937;
font-style: italic;
font-weight: 300;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.link {
    display: flex;
    gap: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 100px;
}

img {
    max-width: 300px;
    height: auto;
}

.some_more_main {
    flex-wrap: wrap;
    max-width: 500px;
} 

.center img {
    border-radius: 20px;
}

.center {
    padding-top: 100px;
    
    padding-bottom: 100px;
}