body {
  font-family: 'Roboto', sans-serif;
}

.upper_part {
    background-color: #1f2937;
}

.main_text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.below_main_text {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 650;
}

button {
    background-color: #3882f6;
}

.link a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.info_header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote_text {
font-size: 36px;
color: #1f2937;
font-style: italic;
font-weight: 300;
}